%p Hey #{@user.first_name}!
%p If you don't already know, the Summer League Season Sign-Ups are Live! Don't procrastinate, sign up now! Registration/Sign Ups will close on Monday May 28th at midnight.
%div(style="text-align: center;")
  %h3= link_to "Sign Up Now!", "http://www.stewartstownupa.com"
%p When signing up, remember that your registration is not complete until you fill out the questionnaire, pay the league fee, sign the wavier, and click <b>Register</b>. If you neglect to do any of these steps, you will not be registered and you will miss out on being drafted to a team.
%p Summer League Season runs from June 6th to the Championship game on August 12th. Each team plays 2 games every Sunday starting at 5 o'clock in the afternoon. The sign up fee is the low price of $20, which includes a team shirt (dri-fit material) and a lot a lot a lot of games.
%p We are hosting a Pick-Up draft game at our summer league fields (Hopewell Area Recreation-Parks. 16 College Ave, Stewartstown, PA) on Sunday May 20th @ 5 o'clock. Our first games will be 2 weeks later on Sunday June 3rd @ 5pm. Check out the complete schedule on the website.
%div(style="text-align: center;")
  %h3= link_to "Sign Up Today!", "http://www.stewartstownupa.com"
  %p Thanks,<br>Stewartstown Ultimate Players Assosciation
