%p Hello Fellow Human!
%p Forget your password? It happens to all of us. Just click below and you'll be on your way to a new one! Your password won't change until you access the link above and create a new one, so you have nothing to worry about.
%div(style="text-align: center;")
  %p= image_tag "basketball.gif", width: 300
  %p= link_to "Update My Password", password_url(token: @user.token)
  %p Farewell Friend,<br>SUPA
  %small Brought to you by #{link_to "Tomify!", "https://tomify.me"}
