<ul class="nav nav-pills">
  <li class="active"><a href="#current-captains" data-toggle="tab">Current Captains</a></li>
  <li><a href="#all-captains" data-toggle="tab">All Captains</a></li>
</ul>

<div id="captains-content" class="tab-content">
  <div class="tab-pane active" id="current-captains">
    <div class="row">
      <div class="col-md-12">
        <h3>Current Captains</h3>
        <% if @current_captains.empty? %>
          <p>There aren't any captains for the current league yet!</p>
        <% else %>
          <%= render partial: "admin/users/table", locals: { users: @current_captains } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="all-captains">
    <div class="row">
      <div class="col-md-12">
        <h3>Captains</h3>
        <% if @captains.empty? %>
          <p>There aren't any captains yet!</p>
        <% else %>
          <%= render partial: "admin/users/table", locals: { users: @captains } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
