<div class="row">
  <div class="col-md-12">
    <h3>Player Awards</h3>
    <% if current_user %>
      <% if current_user.registered? %>
        <% if current_user.player_award %>
          <%= link_to "Edit Vote", edit_player_award_path(current_user.player_award.id), class: "btn btn-success"  %>
        <% else %>
          <%= link_to "Vote", new_player_award_path, class: "btn btn-success"  %>
        <% end %>
      <% else %>
        <%= link_to "Must be on a team to vote!", "#", class: "btn btn-default"  %>
      <% end %>
    <% else %>
      <%= link_to "Sign In to Vote!", new_user_session_path, class: "btn btn-success"  %>
    <% end %>
  </div>
</div>
