<div id="drafts_new_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add Draft</h3>
      </div>
      <div class="modal-body">
        <%= form_for(@draft || Draft.new, url: super_drafts_path, html: { class: "form-horizontal" }) do |f| %>
          <div class="form-group">
            <%= f.label :league_id, class: "col-md-4 control-label" %>
            <div class="col-md-8">
              <%= f.select :league_id, League.all.collect {|a| [a.name, a.id]}, {}, { class: "form-control" } %>
            </div>
          </div>
          <%= f.submit "Submit", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
