<h3 class="text-center no-margin-top">SUPA <%= @league.season %> Season</h3>

<%= render partial: "pages/images" %>

<div class="center">
  <% if @league.draft.active? %>
    <h3>Check out this years teams!</h3>
    <div>
      <% @teams.each do |team| %>
        <%= link_to team.name, team_path(team.id), class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: "pages/schedule" %>
