<div class="center">
  <%= image_tag "spring.jpg" %>
</div>
<br>
<div class="center">
  <h3>Check out this years teams!</h3>
  <div>
    <% @teams.each do |team| %>
      <%= link_to team.name, team_path(team.id), :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>
<div class="center">
  <h3>Schedule</h3>
  <div>
    <% @games.each do |game| %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="span8 offset2">
    <p>
      Same as the Fall, we will continue to play at Camp Security park, corner of Eastern Boulevard and Locust Grove Rd (map below or link <a href="https://goo.gl/maps/qfLZB">here</a>).
      Also same as Fall each team will play 2 games to 15 with hour and a half time caps.
    </p>
   </div>
 </div>
</div>
