<div class="center">
  <%= image_tag "spring.jpg" %>
</div>
<br>
<div class="center">
  <h3>Check out this years teams!</h3>
  <div>
    <% @teams.each do |team| %>
      <%= link_to team.name, team_path(team.id), :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="span8 offset2">
    <p>
      Same as the Fall, we will continue to play at Camp Security park, corner of Eastern Boulevard and Locust Grove Rd (map below or link <a href="https://goo.gl/maps/qfLZB">here</a>).
      Also same as Fall each team will play 2 games to 15 with hour and a half time caps.
    </p>
    <br>
   </div>
   <div class="center">
     <%= image_tag "spring_calendar.png" %>
     <br>
     <br>
     <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d3057.2771705148484!2d-76.64920876915417!3d39.97990888021753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e0!4m0!4m3!3m2!1d39.97959!2d-76.646953!5e1!3m2!1sen!2sus!4v1392884226458" width="600" height="450" frameborder="0" style="border:0"></iframe>
   </div>
 </div>
</div>
