.row
  .col-md-4.col-md-offset-4.text-center
    %h3 Forgot Password
    = form_for :user, url: password_path, html: { method: :post, class: "form-horizontal" } do |f|
      .form-group
        = email_field_tag :email, params[:email], placeholder: "Email", required: true, class: "form-control"
      .form-group
        = f.submit "Email Password Reset", class: "btn btn-primary"
