@import "variables";
@import "bootstrap";

.ad-offset {
  margin-left: 140px;
}
.tall-ad {
  position: fixed;
}
.small-ad {
  display: none;
  text-align: center;
}

@media screen and (max-width: $grid-float-breakpoint) {
  .ad-offset {
    margin-left: 0;
  }
  .tall-ad {
    display: none;
    position: static;
  }
  .small-ad {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}
