/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require pickadate/default
 *= require pickadate/default.date
 *= require pickadate/default.time
 *= require dataTables/jquery.dataTables.bootstrap3
 *
 *= require_tree .
 */
@import "font-awesome";
@import "variables";
@import "bootstrap";

body {
  padding-top: 70px;
}

form {
  i.fa-plus-circle:hover {
    cursor: pointer;
  }
}

.footer {
  padding-bottom: 20px;
}

.login-button {
  font-size: 1.5em;
  padding: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.red {
  color: red;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}
.padding-20 {
  padding: 20px;
}

.border-3 {
  border: black solid 3px;
}
