.draft {
  &.feed {
    .draft-round {
      color: #3EAAED; // Blue
    }
    .draft-player {
      color: #0FAB34; // Green
    }
    .draft-captain,
    .draft-team {
      color: #3EAAED; // Blue
    }
    .draft-position {
      color: #F29C2C; // Orange
    }
  }

  .captains-turn {
    color: blue;
  }

  .group {
    border: black solid 3px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 300px;
    overflow-y: auto;
    h4 {
      text-align: center;
    }
  }
}
