.draft {
  &.feed {
    .draft-pick {
      color: #3EAAED; // Blue
    }
    .draft-player {
      color: #0FAB34; // Green
    }
    .draft-team {
      color: #3EAAED; // Blue
    }
  }

  .teams-turn {
    color: #3EAAED;
  }
}
