@import "variables";
@import "bootstrap";

.container-fluid.main-content {
  margin-right: 300px;
}

.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 50px;
  right: 0;
  padding: 0 20px;
  color: #ffffff;
  background-color: #6666FF;
  a {
    color: $brand-success;
    font-weight: 200;
  }
}

@media screen and (max-width: $grid-float-breakpoint) {
  .container-fluid.main-content {
    margin-right: 0;
  }

  .sidebar {
    position: inherit;
    width: 100%;
    padding-top: 20px;
  }

  .navbar-fixed-top.navbar.admin-navbar,
  .navbar-fixed-top.navbar.super-navbar {
    margin-right: 0;
  }
}
