.team-blue td {
  background-color: blue !important;
  color: white !important;
}
.team-orange td {
  background-color: orange !important;
  color: white !important;
}
.team-black td {
  background-color: black !important;
  color: white !important;
}
.team-white td {
  background-color: white !important;
  color: black !important;
}
