/* Custom Variables */
$blue: #6666FF;
$green: #5cb85c;
$white: #FFFFFF;
$black: #000000;

$brand-primary: $blue;
$state-success-bg: $green;
$grid-float-breakpoint: 1000px;

@import "bootstrap/variables";
