<ul class="nav nav-pills">
  <li class="active"><a href="#current-teams" data-toggle="tab">Current Teams</a></li>
  <li><a href="#all-teams" data-toggle="tab">All Teams</a></li>

  <div class="btn-group pull-right">
    <%= link_to "Add Team","#teams_new_modal", class: "admin_modal btn btn-primary", role: "button", data: { toggle: "modal" } %>
  </div>
</ul>

<div id="teams-content" class="tab-content">
  <div class="tab-pane active" id="current-teams">
    <div class="row">
      <div class="col-md-12">
        <h3>Current Teams</h3>
        <% if @current_teams.empty? %>
          <p>There aren't any teams for the current league yet!</p>
        <% else %>
          <%= render partial: "admin/teams/table", locals: { teams: @current_teams } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="all-teams">
    <div class="row">
      <div class="col-md-12">
        <h3>All Teams</h3>
        <% if @teams.empty? %>
          <p>There aren't any teams yet!</p>
        <% else %>
          <%= render partial: "admin/teams/table", locals: { teams: @teams } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "admin/teams/new_modal" %>
