<div class="admins captain">
  <ul class="nav nav-pills">
    <li class="active"><a href="#current-team" data-toggle="tab">Current Team</a></li>
    <li><a href="#teams" data-toggle="tab">Teams</a></li>
    <li><a href="#players" data-toggle="tab">Registered Players</a></li>

    <div class="btn-group pull-right">
      <%= link_to "View Drafts", captain_drafts_path, class: "btn btn-primary" %>
    </div>
  </ul>

  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="current-team">
      <div class="row">
        <div class="col-md-12">
          <h3>Current Team</h3>
          <% if !@current_team %>
            <p>You don't have team for the current league yet!</p>
          <% else %>
            <%= render partial: "admin/users/table", locals: { users: @current_team.players.table_list } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="teams">
      <div class="row">
        <div class="col-md-12">
          <h3>Teams</h3>
          <% if @teams.empty? %>
            <p>You don't have any teams!</p>
          <% else %>
            <%= render partial: "teams/table", locals: { teams: @teams } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="players">
      <div class="row">
        <div class="col-md-12">
          <h3>Players</h3>
          <% if @users.empty? %>
            <p>There aren't any players!</p>
          <% else %>
            <%= render partial: "admin/users/table", locals: { users: @users } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
