<table class="datatable table table-striped">
  <thead>
    <tr>
      <th>Player</th>
      <th>Assists</th>
      <th>Goals</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% stats.player_stats.each do |stat| %>
      <tr>
        <td><%= stat.player.name %></td>
        <td><%= stat.assists || 0 %></td>
        <td><%= stat.goals || 0 %></td>
        <td><%= stat.points || 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
