<div class="draft">
  <h3 class="center">Drafts</h3>
  <br>
  <% if @drafts.empty? %>
    <div class="center">The teams you captain are not draftable yet.</div>
  <% else %>
    <% @drafts.each_with_index do |draft, index| %>
      <div class="row center">
          <div class="btn-group">
            <%= link_to draft.league.name, "#", class: "btn btn-default" %>
            <%= link_to "View", draft_path(draft.id), class: "btn btn-primary" %>
            <%= link_to "Feed", feed_path(draft.id), class: "btn btn-warning" %>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>
</div>
