<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="center">
      <%= render partial: "shared/summer" %>
    </div>
    <% index = 0 %>
    <div class="row">
      <% @awards.each do |key, value| %>
        <% if index % 3 == 0 && !index.zero? %>
          </div><div class="row">
        <% end %>
        <% index += 1 %>
        <div class="col-sm-4 padding-20">
          <h4><%= key.to_s.titleize %></h4>
          <% value.delete(nil) %>
          <% sorted = value.sort_by { |k,v| v }.reverse %>
          <% sorted.each do |user| %>
            <div class="row">
              <div class="col-md-9">
                <%= User.find(user.first).name %>
              </div>
              <div class="col-md-3 text-right">
                <%= user.last %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
