<div class="alignleft tall-ad">
  <script type='text/javascript'>
    amzn_assoc_ad_type = 'banner';
    amzn_assoc_tracking_id = 's0f24f-20';
    amzn_assoc_marketplace = 'amazon';
    amzn_assoc_region = 'US';
    amzn_assoc_placement = 'assoc_banner_placement_default';
    amzn_assoc_linkid = 'GD3QJJLTWP3CNU3U';
    amzn_assoc_campaigns = 'amazonhomepage';
    amzn_assoc_p = '29';
    amzn_assoc_banner_type = 'rotating';
    amzn_assoc_width = '120';
    amzn_assoc_height = '600';
  </script>
  <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>

<div class="alignleft small-ad">
  <script type='text/javascript'>
    amzn_assoc_ad_type = 'banner';
    amzn_assoc_tracking_id = 's0f24f-20';
    amzn_assoc_marketplace = 'amazon';
    amzn_assoc_region = 'US';
    amzn_assoc_placement = 'assoc_banner_placement_default';
    amzn_assoc_linkid = 'XHJ7KYCLBCKS4LC7';
    amzn_assoc_campaigns = 'sp815_930fbkickkoff';
    amzn_assoc_banner_type = 'category';
    amzn_assoc_isresponsive = 'true';
  </script>
  <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>
