<div class="alignleft tall-ad">
  <% x = rand(3) %>
  <% if x == 0 %>
    <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fstewaultimpla-20%2F8010%2F361b8fb8-929a-4ff4-8fd6-58643a2707a4&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_cw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fstewaultimpla-20%2F8010%2F361b8fb8-929a-4ff4-8fd6-58643a2707a4&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT></NOSCRIPT>
  <% elsif x == 1 %>
    <script type='text/javascript'>
      amzn_assoc_ad_type = 'banner';
      amzn_assoc_tracking_id = 'stewaultimpla-20';
      amzn_assoc_marketplace = 'amazon';
      amzn_assoc_region = 'US';
      amzn_assoc_placement = 'assoc_banner_placement_default';
      amzn_assoc_linkid = 'ANN3SABHLZ26XBOC';
      amzn_assoc_campaigns = 'amazonhomepage';
      amzn_assoc_p = '29';
      amzn_assoc_banner_type = 'rotating';
      amzn_assoc_width = '120';
      amzn_assoc_height = '600';
    </script>
    <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
  <% elsif 2 %>
    <script type='text/javascript'>
      amzn_assoc_ad_type = 'banner';
      amzn_assoc_tracking_id = 'stewaultimpla-20';
      amzn_assoc_marketplace = 'amazon';
      amzn_assoc_region = 'US';
      amzn_assoc_placement = 'assoc_banner_placement_default';
      amzn_assoc_linkid = 'ZOWOYUVM6B5JFZGC';
      amzn_assoc_campaigns = 'hotnewreleases';
      amzn_assoc_p = '29';
      amzn_assoc_banner_type = 'category';
      amzn_assoc_isresponsive = 'false';
      amzn_assoc_banner_id = '1MQXXPHQFE1XXRNZGTR2';
      amzn_assoc_width = '120';
      amzn_assoc_height = '600';
    </script>
    <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
  <% end %>
</div>
