<div class="row message<%= " hide" if message.blank? %>">
  <div class="col-md-12">
    <div class="alert alert-<%= kind %>">
      <a class="close" data-dismiss="alert">×</a>
      <span><%= message %></span>
    </div>
  </div>
</div>
